extends layout

block styles
 link(rel='stylesheet', href='/stylesheets/docs.css')
 link(rel='stylesheet', href='/stylesheets/prism.css')

block scripts
 script(src='/javascripts/prism.js')

block content
  div.wrapper
    div.heading
      a(href='/')
        h1.logo Lorem Wisdom
      h2.title API Documentation
    div.docs
      each doc in docs
        div.doc
          h3.verb= doc.verb + " "
            small= doc.route
          p.desc= doc.description
          p.example Example Response:
          div.response
            code.language-javascript
              pre= doc.example_response.text
          div.options
            p Optional Parameters
            ul.parameters
              each param in doc.optional_parameters
                li= param.name + ": " + param.desc
